 
 <form action="/srch/produceLine" method="get">
      <label for="pl">Enter Product Line:</label>
      <input type="text" id="pl" name="pl" required>
      <button type="submit">Search</button>
    </form>