    <div class="container">
        <h1>Anuj Deol</h1>
        <p>16 Humberwood Blvd, Unit 3, Etobicoke, M9W0G1</p>
        <p>+1 4275333030 | anujdeol007@gmail.com |</p>
        <h2>PROFILE</h2>
        <p>
            Service-focused, technically skilled, hardworking office support professional with one year of experience as a customer service representative 
            and three years of experience as an SAP SD Consultant, office manager.<br> Advance skills in MS office (Word, Excel, PowerPoint, and Outlook), HTML, 
            CSS, SQL; Tools: SAP S/4 HANA, Visual Studio Code, SAP SOLMAN, ability to learn new computer programs quickly.
            Expert interpersonal and communication skills- known for tactful handling of sensitive, confidential issues; ability to resolve customer complaints; 
            and timely completion of polished, executive-level reports and presentations.
        </p>
        <h2>EXPERIENCE AND INTERNSHIPS</h2>
        <h3>Tata Consultancy Services(2021-2022)</h3>
        <h3>SAP SD CONSULTANT</h3>
        <p>
            * Worked on complete OTC flow from order to billing as applicable to project.<br>
            * Working with different teams like Source-to-Buy, ABAP, FICO, Cygnet and Aurora to provide solutions for various reoccurring issues like
            missing order details, customer details or issues while posting invoice to Cygnet portal.<br>
            * Worked on minor enhancement and interacted with ABAP team to develop customized reports related to Sales and Distribution.<br>
            * Performed ST, SIT test preparation, execution, and defect reporting.<br>
            * Helped the automation team in creating ORG’s (Quick Reference Guide) and ILT (Instructor Led Training) documents.<br>
            * Was the lead for performing UAT and was the direct contact with clients to gather the requirements and the feedback given while testing the software.<br>
        </p>

        <br>
        <h3>DESIGN PROCESS(2019-2020)</h3>
        <h3>Administrative Assistant</h3>
        <p>
            * Handled a range of administrative support and office management functions for clients including.<br>
            * Preparing reports and files<br>
            * Perform all admin duties as assigned by the manager.<br>
            * Answering phone calls<br>
        </p>
        <br>
        <h2>EDUCATION</h2>
        <h3>HUMBER COLLEGE<i>(Etobicoke, Canada)</i></h3>
        <h3><i>Information Technology Solution</i></h3>
        <br>
        <h3>GALGOTIAS UNIVERSITY<i>(Noida, India)</i></h3>
        <h3><i>Bachelors of Computer Science and Engineering</i></h3>
        <br>
        <h3>Vishwa Bandhu Public School<i>(India)</i></h3>
        <h3><i>Affiliated to CBSE board(10th and 12th)</i></h3>
    </div>

